@media screen\0 {

    /* 導覽列 */
    #logo img {
        width: 360px;
    }

    /* 主要內容 */
    .animateCyborg {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    .animateGearxl {
        position: absolute;
        z-index: 2;
        width: 100%;
        width: 284px;
        right: 6.5%;
        bottom: 25%;
    }

    .animateGearsm {
        position: absolute;
        z-index: 1;
        width: 100%;
        width: 89px;
        right: 41.5%;
        bottom: 20%;
    }

}
